<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="gazebo_rgbd"
        params="update_rt camera_name reference_link topics_ns depth_optical_frame color_optical_frame infrared1_optical_frame infrared2_optical_frame publish_pointcloud:=true">

        <xacro:property name="deg_to_rad" value="0.01745329251994329577" />

        <gazebo reference="${reference_link}">

            <sensor name="${camera_name}_color_sensor" type="camera">
                <always_on>true</always_on>
                <update_rate>${update_rt}</update_rate>
                <visualize>true</visualize>
                <camera name="${camera_name}">
                    <horizontal_fov>${69.4 * deg_to_rad}</horizontal_fov>
                    <image>
                        <width>140</width>
                        <height>80</height>
                        <format>RGB_INT8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>10.0</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="${camera_name}_color_controller" filename="libgazebo_ros_camera.so">
                    <ros>
                        <namespace>${topics_ns}</namespace>
                        <remapping>image_raw:=color/image_raw</remapping>
                        <remapping>camera_info:=color/camera_info</remapping>
                    </ros>
                    <camera_name>${camera_name}_color</camera_name>
                    <frame_name>${color_optical_frame}</frame_name>
                    <hack_baseline>0.0</hack_baseline>
                </plugin>
            </sensor>

            <sensor name="${camera_name}_depth_sensor" type="depth">
                <always_on>true</always_on>
                <update_rate>${update_rt}</update_rate>
                <visualize>false</visualize>
                <camera name="${camera_name}">
                    <horizontal_fov>${85.2 * deg_to_rad}</horizontal_fov>
                    <image>
                        <width>140</width>
                        <height>80</height>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>10.0</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.100</stddev>
                    </noise>
                </camera>
                <plugin name="${camera_name}_depth_controller" filename="libgazebo_ros_camera.so">
                    <ros>
                        <namespace>${topics_ns}</namespace>
                        <remapping>image_raw:=depth/image_raw</remapping>
                        <remapping>image_depth:=depth/image_rect_raw</remapping>
                        <remapping>camera_info:=depth/camera_info</remapping>
                        <xacro:if value="${publish_pointcloud}">
                            <remapping>points:=points</remapping>
                        </xacro:if>
                    </ros>
                    <camera_name>${camera_name}_depth</camera_name>
                    <frame_name>${depth_optical_frame}</frame_name>
                    <output_type>depth_image</output_type>
                    <point_cloud>true</point_cloud>
                    <point_cloud_cutoff>0.25</point_cloud_cutoff>
                    <point_cloud_cutoff_max>9.0</point_cloud_cutoff_max>
                </plugin>
            </sensor>

            <sensor name="${camera_name}_infra1_sensor" type="camera">
                <always_on>true</always_on>
                <update_rate>${update_rt}</update_rate>
                <visualize>false</visualize>
                <camera name="${camera_name}">
                    <horizontal_fov>${85.2 * deg_to_rad}</horizontal_fov>
                    <image>
                        <width>140</width>
                        <height>80</height>
                        <format>L_INT8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>10.0</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.05</stddev>
                    </noise>
                </camera>
                <plugin name="${camera_name}_infra1_controller" filename="libgazebo_ros_camera.so">
                    <ros>
                        <namespace>${topics_ns}</namespace>
                        <remapping>image_raw:=infra1/image_raw</remapping>
                        <remapping>camera_info:=infra1/camera_info</remapping>
                    </ros>
                    <camera_name>${camera_name}_infra1</camera_name>
                    <frame_name>${infrared1_optical_frame}</frame_name>
                    <hack_baseline>0.0</hack_baseline>
                </plugin>
            </sensor>

            <sensor name="${camera_name}_infra2_sensor" type="camera">
                <always_on>true</always_on>
                <update_rate>${update_rt}</update_rate>
                <visualize>false</visualize>
                <camera name="${camera_name}">
                    <horizontal_fov>${85.2 * deg_to_rad}</horizontal_fov>
                    <image>
                        <width>140</width>
                        <height>80</height>
                        <format>L_INT8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>10.0</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.05</stddev>
                    </noise>
                </camera>
                <plugin name="${camera_name}_infra2_controller" filename="libgazebo_ros_camera.so">
                    <ros>
                        <namespace>${topics_ns}</namespace>
                        <remapping>image_raw:=infra2/image_raw</remapping>
                        <remapping>camera_info:=infra2/camera_info</remapping>
                    </ros>
                    <camera_name>${camera_name}_infra2</camera_name>
                    <frame_name>${infrared2_optical_frame}</frame_name>
                    <hack_baseline>0.0</hack_baseline>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="sensor_rgbd"
        params="update_rt name:=camera topics_ns:=camera sensor_parent_link *origin publish_pointcloud:=true">

        <xacro:property name="M_PI" value="3.1415926535897931" />

        <xacro:property name="rgbd_cam_depth_to_left_ir_offset" value="0.0" />
        <xacro:property name="rgbd_cam_depth_to_right_ir_offset" value="-0.050" />
        <xacro:property name="rgbd_cam_depth_to_color_offset" value="0.015" />

        <xacro:property name="rgbd_cam_width" value="0.090" />
        <xacro:property name="rgbd_cam_height" value="0.025" />
        <xacro:property name="rgbd_cam_depth" value="0.02505" />
        <xacro:property name="rgbd_cam_mount_from_center_offset" value="0.0149" />

        <xacro:property name="rgbd_cam_depth_px" value="${rgbd_cam_mount_from_center_offset}" />
        <xacro:property name="rgbd_cam_depth_py" value="0.0175" />
        <xacro:property name="rgbd_cam_depth_pz" value="${rgbd_cam_height/2}" />

        <material name="${name}_aluminum">
            <color rgba="0.5 0.5 0.5 1" />
        </material>

        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${sensor_parent_link}" />
            <child link="${name}_bottom_screw_frame" />
        </joint>
        <link name="${name}_bottom_screw_frame" />

        <joint name="${name}_link_joint" type="fixed">
            <origin xyz="0 ${rgbd_cam_depth_py} ${rgbd_cam_depth_pz}" rpy="0 0 0" />
            <parent link="${name}_bottom_screw_frame" />
            <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
            <visual>
                <origin xyz="${rgbd_cam_mount_from_center_offset} ${-rgbd_cam_depth_py} 0"
                    rpy="${M_PI/2} 0 ${M_PI/2}" />
                <geometry>
                    <mesh filename="file://$(find sensor_description)/meshes/d435.dae" />
                </geometry>
                <material name="${name}_aluminum" />
            </visual>
            <collision>
                <origin xyz="0 ${-rgbd_cam_depth_py} 0" rpy="0 0 0" />
                <geometry>
                    <box size="${rgbd_cam_depth} ${rgbd_cam_width} ${rgbd_cam_height}" />
                </geometry>
            </collision>
            <inertial>
                <mass value="0.075" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.000054" ixy="0.0" ixz="0.0" iyy="0.000008" iyz="0.0" izz="0.000074" />
            </inertial>
        </link>

        <joint name="${name}_depth_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_depth_frame" />
        </joint>
        <link name="${name}_depth_frame" />

        <joint name="${name}_depth_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
            <parent link="${name}_depth_frame" />
            <child link="${name}_depth_optical_frame" />
        </joint>
        <link name="${name}_depth_optical_frame" />

        <joint name="${name}_left_ir_joint" type="fixed">
            <origin xyz="0 ${rgbd_cam_depth_to_left_ir_offset} 0" rpy="0 0 0" />
            <parent link="${name}_depth_frame" />
            <child link="${name}_left_ir_frame" />
        </joint>
        <link name="${name}_left_ir_frame" />

        <joint name="${name}_left_ir_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
            <parent link="${name}_left_ir_frame" />
            <child link="${name}_left_ir_optical_frame" />
        </joint>
        <link name="${name}_left_ir_optical_frame" />

        <joint name="${name}_right_ir_joint" type="fixed">
            <origin xyz="0 ${rgbd_cam_depth_to_right_ir_offset} 0" rpy="0 0 0" />
            <parent link="${name}_depth_frame" />
            <child link="${name}_right_ir_frame" />
        </joint>
        <link name="${name}_right_ir_frame" />

        <joint name="${name}_right_ir_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
            <parent link="${name}_right_ir_frame" />
            <child link="${name}_right_ir_optical_frame" />
        </joint>
        <link name="${name}_right_ir_optical_frame" />

        <joint name="${name}_color_joint" type="fixed">
            <origin xyz="0 ${rgbd_cam_depth_to_color_offset} 0" rpy="0 0 0" />
            <parent link="${name}_depth_frame" />
            <child link="${name}_color_frame" />
        </joint>
        <link name="${name}_color_frame" />

        <joint name="${name}_color_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
            <parent link="${name}_color_frame" />
            <child link="${name}_color_optical_frame" />
        </joint>
        <link name="${name}_color_optical_frame" />

        <xacro:gazebo_rgbd update_rt="${update_rt}" camera_name="${name}"
            reference_link="${name}_link"
            topics_ns="${topics_ns}" depth_optical_frame="${name}_depth_optical_frame"
            color_optical_frame="${name}_color_optical_frame"
            infrared1_optical_frame="${name}_left_ir_optical_frame"
            infrared2_optical_frame="${name}_right_ir_optical_frame"
            publish_pointcloud="${publish_pointcloud}" />
    </xacro:macro>
</robot>