<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="cylinder_inertia" params="mass radius length">
        <xacro:property name="ixx_iyy"
            value="${(1/12) * mass * (3 * radius * radius + length * length)}" />
        <xacro:property name="izz" value="${(1/2) * mass * radius * radius}" />
        <inertial>
            <mass value="${mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="${ixx_iyy}" ixy="0.0" ixz="0.0"
                iyy="${ixx_iyy}" iyz="0.0"
                izz="${izz}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="threeD_lidar"
        params="prefix sensor_parent_link xyz rpy ros_namespace ros_topic 
                base_mass:=0.125 
                top_mass:=0.125 
                frame_name:=${prefix}_top 
                visualize:=true 
                update_rate:=10">

        <xacro:property name="base_radius" value="0.001" />
        <xacro:property name="base_length" value="0.001" />
        <xacro:property name="top_radius" value="0.001" />
        <xacro:property name="top_length" value="0.001" />

        <joint name="${prefix}_lidar_base_joint" type="fixed">
            <parent link="${sensor_parent_link}" />
            <child link="${prefix}_base" />
            <origin xyz="${xyz}" rpy="${rpy}" />
        </joint>

        <link name="${prefix}_base">
            <visual>
                <geometry>
                    <cylinder radius="${base_radius}" length="${base_length}" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${base_radius}" length="${base_length}" />
                </geometry>
            </collision>
            <xacro:cylinder_inertia mass="${base_mass}" radius="${base_radius}"
                length="${base_length}" />
        </link>

        <joint name="${prefix}_laser_joint" type="fixed">
            <parent link="${prefix}_base" />
            <child link="${prefix}_top" />
            <origin xyz="0 0 ${base_length/2 + top_length/2}" rpy="0 0 0" />
        </joint>

        <link name="${prefix}_top">
            <visual>
                <geometry>
                    <cylinder radius="${top_radius}" length="${top_length}" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${top_radius}" length="${top_length}" />
                </geometry>
            </collision>
            <xacro:cylinder_inertia mass="${top_mass}" radius="${top_radius}"
                length="${top_length}" />
        </link>

        <gazebo reference="${prefix}_base">
            <material>Gazebo/Red</material>
        </gazebo>

        <gazebo reference="${prefix}_top">
            <material>Gazebo/Red</material>
            <!-- <sensor type="ray" name="${prefix}_velodyne_3dlidar">
                <pose>0 0 0 0 0 0</pose>
                <visualize>${visualize}</visualize>
                <update_rate>${update_rate}</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>220</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.142</min_angle>
                            <max_angle>3.142</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>32</samples>
                            <resolution>1</resolution>
                            <min_angle>-0.535</min_angle>
                            <max_angle>0.186</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.1</min>
                        <max>5.0</max>
                        <resolution>0.001</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.0</stddev>
                    </noise>
                </ray>
                <plugin name="threeD_lidar_controller_${prefix}"
                    filename="libgazebo_ros_velodyne_laser.so">
                    <ros>
                        <namespace>${ros_namespace}</namespace>
                        <remapping>~/out:=${ros_topic}</remapping>
                    </ros>
                    <frame_name>${frame_name}</frame_name>
                    <organize_cloud>false</organize_cloud>
                    <min_range>0.1</min_range>
                    <max_range>10.0</max_range>
                    <gaussian_noise>0.008</gaussian_noise>
                </plugin>
            </sensor> -->

            <sensor type="ray" name="${prefix}_top">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <plugin name="gazebo_ros_laser_controller" filename="libros2_livox.so">
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>100</samples>
                                <resolution>1</resolution>
                                <min_angle>0</min_angle>
                                <max_angle>6.2831852</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>360</samples>
                                <resolution>1</resolution>
                                <min_angle>-0.12217</min_angle>
                                <max_angle>0.90757</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>0.1</min>
                            <max>10.0</max>
                            <resolution>0.002</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </ray>
                    <visualize>true</visualize>
                    <samples>20000</samples>
                    <downsample>1</downsample>
                    <laserscan_topics>/mid360/scan</laserscan_topics>
                    <topic>mid360/points</topic>
                    <csv_file_name>$(find ros2_livox_simulation)/scan_mode/mid360.csv</csv_file_name>
                    <publish_pointcloud_type>3</publish_pointcloud_type>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>